@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 222.2 84% 4.2%;
  --background: 210 40% 98%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}